.customBadge{
position: absolute;
height: 25px;
width: 25px;
background: #fe1743;
border-radius: 50%;
text-align: center;
line-height: 25px;
bottom: 5px;
left: 15px;
color: #fff;
font-size: 12px;
}    