ion-back-button {
    color: gray;
	margin:5px;
}
  .username {  
    font-size: 1.3em;
  }
  ion-label {
    color: #7f7f7f;
	
  }
  
 .check-icon{
 color: #fe1743;
font-size: 20px;
font-weight: bolder;
 }
  
.num-buble{
font-size: 12px;
height: 20px;
width: 20px;
background: #fe1743;
text-align: center;
border-radius: 50%;
color: #fff;
font-weight: bold;
margin-left: 82%;
}