<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
           <ion-back-button defaultHref="/members/tab1"></ion-back-button>

    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	 <ion-row style="height: 50px;"></ion-row>
    <form #cform="ngForm" (ngSubmit)="changepassword()">
	
	    <ion-item>
      <ion-label position="floating">Enter Current Password</ion-label>
	  
      <ion-input type="password" id="password" name="password"
          [(ngModel)]="model.password" #password="ngModel" (keyup)="onKey()" required ></ion-input>
	   <ion-icon style="margin-top:28px;" name="key" slot="start"></ion-icon>
	         <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div class="required" *ngIf="password.errors.required">Password is required.</div>
      </div>
      <div *ngIf="(password.dirty || password.touched)">
        <div *ngIf="match" class="required">Password is not correct.</div>
      </div>
    </ion-item>
	

	    <ion-item>
      <ion-label position="floating">Enter New Password</ion-label>
	  
      <ion-input type="password" id="new_password" name="new_password"
          [(ngModel)]="model.new_password" #new_password="ngModel"  required ></ion-input>
	   <ion-icon style="margin-top:28px;" name="key" slot="start"></ion-icon>
	       <div *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)">
        <div class="required" *ngIf="new_password.errors.required">New Password is required.</div>
      </div>  
    </ion-item>

	    <ion-item>
      <ion-label position="floating">Re-enter New Password</ion-label>
	  
      <ion-input type="password" id="c_new_password"
          name="c_new_password" [(ngModel)]="model.c_new_password" #c_new_password="ngModel" required
          pattern="{{ new_password.value }}" ></ion-input>
	   <ion-icon style="margin-top:28px;" name="key" slot="start"></ion-icon>

      <div *ngIf="c_new_password.invalid && (c_new_password.dirty || c_new_password.touched)">
        <div class="required" *ngIf="c_new_password.errors.required">Confirm Password is required.</div>
        <div class="required" *ngIf="c_new_password.errors.pattern">
          New Password & Confirm Password does not match.
        </div>
      </div>
    </ion-item>

 <ion-row style="height: 50px;"></ion-row>
 <ion-button type="submit" expand="full" color="primary"  [disabled]="!cform.form.valid">Save</ion-button>



    </form>


</ion-content>
