.start_logo{
	
	padding:30px;
	text-align:center;
	
	}
	
.start_logo img {

    width:80%;
}	

.start_heading{
color:#fe1743;
}
.class-name {
 }
 
 .bg-transparent {
  background: transparent;
}
.form{
    margin-top: 34px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    div{
        margin-top: 23px;
        margin-right: 5px;
        h2{
            margin: 0;
            font-size: 12px;
            color: #b6b6be;
        }
        ion-input{
            text-align: center;
            border: 1px solid #e1e5e8;
            border-radius: 5px;
            margin-top: 8px;
            font-size: 14px;
            padding: 3px !important;
            padding-left: 0px !important;
            color: #383838;
            font-weight: 600;
            --padding-start: 0;
        }
        &:last-child{
            margin-top: 23px;
            margin-right: 0px;
        }
    }
}

.new{
position: fixed;
top: 48%;
width: 90%;
}